body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ackordion {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ackordion li {
  border-top: 1px solid red;
}

/*--La till border bottom till sista element--*/
.ackordion:last-of-type {
  border-bottom: 1px solid red;
}

.ackordion label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  background: #f7f7f7;
}

/*--style till + icon --*/
label::after {
  content: "+";
  margin-left: 10px;
  font-size: 24px;
}

/*-- gömma input boxen --*/
input[type="checkbox"] {
  display: none;
}

.innehåll {
  padding: 12px;
  display: none;
}

.ackordion input[type="checkbox"]:checked ~ .innehåll {
  display: block;
}
