body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: sans-serif;
}

.ackordion {
  list-style: none;
  padding: 0px;
  margin: 0;
  width: 90vw;
}

.ackordion li {
  border-top: 1px solid red;
}

/*--för border-bottom till sista element--*/
.ackordion:last-of-type {
  border-bottom: 1px solid red;
}

.ackordion label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  font-size: 24px;
  background: #f7f7f7;
}

/*--style till + icon --*/
label::after {
  content: "+";
  margin-left: 10px;
  font-size: 24px;
}

/*-- för att gömma checkboxen --*/
input[type="checkbox"] {
  display: none;
}

/*------------------- testa kod -------------------*/
.innehåll {
  display: flex;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  padding: 0px 0px;
  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s;
}

/*--för smidigt transition --*/
.ackordion input[type="checkbox"]:checked ~ .innehåll {
  max-height: 600px;
  opacity: 1;
  padding: 10px 20px;
}

.kontainer-h > div:first-child {
  display: grid;
  align-items: center;
}

.kontainer-v,
.kontainer-h {
  flex: 1;
  display: flex;
  padding: 12px;
  gap: 100px;
}

.kontainer-v .div {
  display: grid;
}

.kontainer-h p {
  margin: 0;
}

/*-- När checkbox status är checked--*/
.ackordion input[type="checkbox"]:checked + label::after {
  content: "-";
}

.kontainer-h > div:last-child {
  display: grid;
  gap: 12px;
  width: 100%;
}
.kontainer-v > div > h4 {
  margin: 16px 0px;
}

.kontainer-h > div:last-child > div,
.kontainer-h > div:last-child > p {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

/*--Progress bar kontainer--*/
.progress-bar {
  width: 100%;
  max-width: 300px;
  height: 13px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

/*--progress bar filled--*/
.progress-fill {
  width: 30%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.kontainer-h > div:last-child > div:first-child .progress-fill {
  width: 30%;
}

/*-- andra progress bars procentsats--*/
.kontainer-h > div:last-child > div:last-child .progress-fill {
  width: 20%;
}
/*--Pronation fält--*/
.neutral-kontainer {
  display: grid;
  text-align: center;
  width: 100%;
  justify-items: center;
}
.gif-v {
  max-height: 360px;
}
.neutral-detaljer {
  display: grid;
  justify-items: start;
  justify-self: start;
}
.neutral-detaljer > p,
h4 {
  margin: 0px;
}
.neutral-detaljer > p {
  padding-bottom: 10px;
  text-align: start;
}

.neutral-detaljer h4:first-child {
  margin-bottom: 10px;
}

/*--underpronation fält--*/
.underpronation-kontainer {
  display: grid;
  text-align: center;
  width: 100%;
  justify-items: center;
}
.gif-v {
  max-height: 360px;
}
.underpronation-detaljer {
  display: grid;
  justify-items: start;
}
.underpronation-detaljer > p,
h4 {
  margin: 0px;
}
.underpronation-detaljer > p {
  padding-bottom: 10px;
  text-align: start;
}

.underpronation-detaljer h4:first-child {
  margin-bottom: 10px;
}
/*--Beskrivningsfält--*/
.beskrivning-innehåll {
  display: grid;
}
.beskrivning-innehåll > p {
  margin: 5px;
}

.teknik-detaljer {
  display: flex;
}

.teknik-detaljer > article {
  flex: 1;
}

/*------------------- Responsiv -------------------*/
/*--Tablet skärm storlek--*/
@media (max-width: 768px) {
  .innehåll {
    display: grid;
  }
  .ackordion input[type="checkbox"]:checked ~ .innehåll {
    max-height: 1100px;
  }
}

/*--Mobile skärm storlek--*/
@media (max-width: 480px) {
  /*-Mindre bild storlek-*/
  .gif-v,
  .gif-h {
    max-width: 300px;
  }
  /*-Högre meny längd-*/
  .ackordion input[type="checkbox"]:checked ~ .innehåll {
    max-height: 1150px;
  }
}
